#root {
  height: 100vh;
  max-height: 100vh;
  overflow: clip;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  background-color: #010519;
  color: #ffffff;
}

/* Charts CSS edits */

g .recharts-layer line {
  display: none;
}
g .recharts-layer text {
 font-size: 12px;
 color: #FFFFFF3D;
}
g .recharts-layer:first-child text {
  display: none;
 }
 